# Dependencies
node_modules

# Build outputs
dist
.output
.nitro

# Nuxt
.nuxt
.cache
.data

# Tauri
/target
src-tauri/target
apps/*/src-tauri/target

# Environment
.env
.env.*
!.env.example

# IDE
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Logs
*.log*

# Rust
.cargo

# Kiro
.kiro

# ESLint
.eslintcache

# OS
Thumbs.db

# Monorepo specific
packages/*/.nuxt
apps/*/.nuxt
apps/*/.output
apps/*/dist
